/* Estilos para la página de respuesta */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fce4ec; /* Un fondo rosa muy suave */
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.gif-container {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #e91e63; /* Un color rosa más fuerte */
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #555;
}